.navbar-size {

    width: 100%;
    margin: 0 auto;
    background-color: #949494;

}

.user-image-size {

    height: 56px;

    margin: 4px 0;
}

.main-body {

    background-color: #ffffff;

    color: rgb(0, 0, 0);

    height: calc(100vh - 64px);

}