.navbar-size {

    width: 90%;
    margin: 0 auto;
    background-color: #949494;
}

nav {
    color: #fff;
    background-color: #949494;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.user-image-size {

    height: 56px;

    margin: 4px 0;
}

.main-body {

    background-color: #ffffff;

    color: rgb(0, 0, 0);

    height: calc(100vh - 64px);

}